<h2>    Olá aluno {{nomeAluno}}</h2>
<h2>Da turma {{turma}}</h2>

<input type="text" [(ngModel)]="nomeAluno"/>

<input type="text" [value]="turma" (blur)="atualizaTurma($event)" #inputTurma/>

<button (click)="switchTurma()">Abrir lista</button>



<ng-template [ngIf]="switch">
<div *ngIf="listaAlunos?.length; else nenhumaLista">
    <ul>
        <li *ngFor="let aluno of listaAlunos"> 
            Nome: {{aluno.nome}} Data de Nascimento: {{aluno.dataNascimento | date:"dd/MM/yyyy"}}

        </li>
    </ul>
</div>
</ng-template>

<ng-template #nenhumaLista>
    <p>Lista indisponivel</p>
</ng-template>
